#root {
  --perfect-black: #252422;
  --perfect-orange: #eb5e28;
  --sidebar-width: 200px;
  --mini-sidebar-width: 75px;
  display: relative;
  min-height: 100svh;
  width: 100%;
}

.sidebar-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  z-index: 9999;
}

.main-page-section {
  position: relative;
  width: calc(100% - var(--sidebar-width));
  left: var(--sidebar-width);
  padding: 10px;
  box-sizing: border-box;
}

.hide-sidebar-section {
  width: var(--mini-sidebar-width);
}

.extended-main-page-section {
  width: calc(100% - var(--mini-sidebar-width));
  left: var(--mini-sidebar-width);
}

.content-section {
  margin-top: 50px;
  display: flex;
  background-color: rgb(223, 223, 223);
  border-radius: 15px;
  height: 500px;
  padding: 10px;
  gap: 10px;
}

.content-box-left,
.content-box-right {
  width: 50%;
  border-radius: 15px;
  height: 100%;
}

.content-box-header {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
}

.content-box-left {
  background-color: var(--perfect-black);
}

.content-box-right {
  background-color: var(--perfect-orange);
}
