.toggle-graph-type-button {
  /* background: var(--perfect-black); */
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  font-family: Rubik-Bold;
  font-size: 1rem;
  border-radius: 5px;
  right: 0px;
}
