.topbar-container {
  color: var(--perfect-black);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px;
}

.topbar-title {
  color: inherit;
  font-size: 2rem;
  margin: 0;
}

.topbar-right {
  font-size: 1rem;
  color: inherit;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.search-stocks {
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  outline: none;
  border: none;
}

.search-stocks::placeholder {
  color: #757577;
}

.search-stock-form {
  background-color: #d8d8e1;
  border-radius: 5px;
  padding: 2px;
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  border: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 0 0 5px;
  background-color: transparent;
}
